.lead {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* margin-left: 148px;
  margin-right: 148px */
  max-width: 984px;
  align-items: center;
  /* padding-left: 148px;
  padding-right: 148px; */
  /* max-width: 100%; */
  margin-top: 56px;
}
