.cover__subtitle {
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin-top: 32px;
  max-width: 360px;
  z-index: 3;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
