.header {
  display: grid;
  /* flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* justify-content: space-between; */
  /* margin: auto; */
  align-items: center;
  margin: 0 48px;
  padding-top: 28px;
  min-height: 42px;
  grid-template-columns: auto repeat(2, minmax(min-content, max-content));
  gap: 18px;
  justify-items: start;
  /* margin: auto; */
}

@media screen and (max-width: 1023px) {
  .header {
    padding-top: 28px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    margin: 0 16px;
  }
}
