.place__paragraph {
  grid-area: paragraph;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}


@media screen and (max-width: 320px) {
  .place__paragraph {
    grid-template-columns: minmax(288px, 440px);
    font-size: 16px;
    line-height: 163%;
    max-width: 288px;
    margin: 0 auto;
  }
}
