.place__paragraph {
  grid-area: paragraph;
  font-size: 18px;
  line-height: 1.63;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    grid-template-columns: minmax(288px, 440px);
    max-width: 288px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}
