.lead__image {
  background-size: cover;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  /* padding-bottom: 100%; */
  /* margin: 0 auto; */
  margin-top: 64px;
}

@media screen and (max-width: 1080px) {
  .lead__image {
    margin-top: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    margin-top: 40px;
  }
}
